/*-- ================================================ --->
<---                     GENERAL                      --->
<--- ================================================ --*/
#sheet-overlay {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0;
}

.center-p {
    text-align: center;
    margin: 16px 0;
}

#sheet-overlay .horizontal-group {
    margin: 0.5% 1%;
}


/*-- ================================================ --->
<---                     WELCOME                      --->
<--- ================================================ --*/
#welcome-window {
    margin: 0.5% 0.5%;
    width: 68%;
    height: 100%;
}

#welcome-title {
    font-size: 24pt;
}

#welcome-container {
    padding: 2%;
    padding-top: 0;
    box-sizing: border-box;
}

#world-container {
    margin: 10px;
    padding-bottom: 40px;
    background-image: url("../images/homepage/background_space.png");
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-style: outset;
    border-color: silver;
}


/*-- ================================================ --->
<---                    SITE MAP                      --->
<--- ================================================ --*/
#sitemap-window {
    margin: 0.5% 0.5%;
    width: 30%;
    height: 100%;
}
#site-map {
    padding: 0 20px;
    box-sizing: border-box;
}

.img-link {
    max-width: 35px;
    margin-right: 4px;
}
#sitemap-window ul {
    margin: 0;
}
.site-link,
#site-map .faint-text {
    margin: auto 0;
    height: 35px;
    line-height: 35px;
}
.sublist {
    margin-top: -8px !important;
}
.suboption {
    margin-left: 45px;
    list-style-type: circle;
}

h1 {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 5px;

    font-size: 18pt;
    font-weight: normal;
    text-decoration: underline;
}


/*-- ================================================ --->
<---                      EMAIL                       --->
<--- ================================================ --*/
#email-window {
    margin: 0.5% 1%;
    min-width: 98%;
    height: fit-content;
}
#email-container {
    padding: 0 2%;
    display: flex;
    align-items: center;
    min-height: 35px;
    height: fit-content;
}
#email-container img {
    margin-left: 20px;
    height: 35px;
}
#email-container span {
    max-width: 100%;
    overflow-wrap:anywhere;
}


/*-- ================================================ --->
<---           MEDIA QUERIES / RESPONSIVENES          --->
<--- ================================================ --*/
/*#region MEDIA */
@media (max-width: 1030px) { /* switch to single column*/
    #sheet-overlay .horizontal-group {
        display: block;
    }
    #welcome-window,
    #sitemap-window {
        width: 99%;
        height: auto;
    }
    #sheet-overlay {
        flex-direction: unset;
    }
    #email-container {
        flex-wrap: wrap;
    }
}
@media (max-width: 545px) { /* decrease header sizes */
    #welcome-window,
    #sitemap-window,
    #email-window {
        margin-left: -2%;
        width: 101%;
    }
    #sheet-overlay .horizontal-group {
        margin-top: -1%;
    }
}
/*#endregion MEDIA */