#recipe-book-window {
    margin: 0.5% 6%;
    min-height: 33%;
    width: 88%;
}

#book-container {
    background-image: url("../images/recipes/bigbook_crop_static.png");
    background-size: 100% 100%;
    min-height: 600px;
    margin: 0 2%;
    padding: 6%;
}
.recipe {
    width: 100%;
    min-height: 100%;
    height: fit-content;

    box-sizing: border-box;

    column-count: 2;
    column-width: 50%;
    column-gap: 7%;

    column-fill: auto;
}

.recipe-title {
    font-size: 16pt;
}
.list-title {
    margin-top: 6px;
    margin-bottom: 2px;
    text-decoration: underline;
}
ol {
    margin-top: 0;
}
ul {
    margin-top: 0;
    padding-left: 20px;
}
li {
    margin-bottom: 2px;
}
.note {
    font-size: 10pt;
}
.ingredient {
    /* text-decoration: underline; */
    /* font-style: italic; */
    /* font-weight: bold; */
}

#button-container {
    display: flex;
    justify-content: center;

    width: 100%;
    gap: 20%;
    padding-bottom: 2%;
}
#button-container button {
    padding: 3px;
    border: outset;
}
#button-container button:active,
#button-container button:disabled,
#button-container .active
{
    border: inset;
}

/*#region CONTENT_WINDOWS */
#guide-window {
    min-width: 47%;
    width: 44%;
    height: fit-content;

    margin: 0.5% 2%;
}

#chef-window {
    
}
/*#endregion CONTENT_WINDOWS */
