/***************************
**** COLROS & CONSTANTS ****
***************************/
/* Rather than have different colored markers, just transform a single black marker into any color I want */
.visited-low {
    filter: invert(90%) sepia(66%) saturate(511%) hue-rotate(18deg) brightness(88%) contrast(76%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
}
.visited-medium {
    filter: invert(51%) sepia(56%) saturate(363%) hue-rotate(54deg) brightness(95%) contrast(86%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
}
.visited-high {
    filter: invert(26%) sepia(15%) saturate(2489%) hue-rotate(83deg) brightness(98%) contrast(88%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
}

.unvisited-low {
    filter: invert(71%) sepia(57%) saturate(490%) hue-rotate(180deg) brightness(102%) contrast(95%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
}
.unvisited-medium {
    filter: invert(46%) sepia(66%) saturate(2186%) hue-rotate(184deg) brightness(99%) contrast(92%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
        
}
.unvisited-high {
    filter: invert(31%) sepia(84%) saturate(1094%) hue-rotate(186deg) brightness(91%) contrast(98%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
}

.highlight {
    filter: invert(97%) sepia(14%) saturate(4954%) hue-rotate(341deg) brightness(109%) contrast(97%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
}

/* Misc classes for JS */
.error-red-text::placeholder {
    color: red;
}
.error-red-text {
    border-color: red;
}

.blob-cursor:hover {
    cursor: url('../images/spots_20.png'), pointer !important;
}

.inactive-button {
    background-color: gray;
}

.hidden {
    display: none !important;
}

ul {
    margin: 0;
}

/******************
**** MAP PANEL ****
******************/
#map-window {
    position: absolute;
    left: calc(64px*0.5);
    top: calc(20px*0.5);
    width: calc(64px*10);
    height: calc(20px*31);
}

#map {
    margin: 10px;
    height: 78%;
    border: inset;

    border-top: 3px solid #808080;
    border-left: 3px solid #808080;
    border-right: 3px solid #d0d0d0;
    border-bottom: 3px solid #d0d0d0;
}


/*********************
**** FILTER PANEL ****
*********************/
#filter-window {
    position: absolute;
    left: calc(64px*10.865);
    top: calc(20px*21.125);
    width: calc(64px*8);
    height: calc(20px*19.5);
}

#filter-container {
    box-sizing: border-box;
}

.filter-header {
    font-size: 12pt;
}

.filter-subheader {
    font-size: 10pt;
}


/**** DISTANCE FILTERING ****/
#distance-filter {
    margin: 5px;
    padding: 10px;
    border: inset;
}

#distance-filter input {
    padding: 3px;
    border: inset;
}

#distance-filter button {
    padding: 3px;
}
#distance-filter button:active:not(:disabled) {
    border-top: 2px solid #404040;
    border-left: 2px solid #404040;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}


/**** ATTRIBUTE FILTERING ****/
#attributes-container {
    margin: 5px;
    padding: 10px;
    border: inset;
}

#filter-menus {
    display: grid;
    grid-template-areas: "visited cuisine rating";
    grid-template-columns: auto auto auto;
    gap: 0.25rem;
    
    margin-top: 0.5rem;
    font-size: 10.5pt;
}

#visited-filter {
    grid-area: visited;
}
#cuisine-filter {
    grid-area: cuisine;
    max-height: 200px;
    overflow-y: scroll; /* TODO: replace with custom scrollbar */
}
#rating-filter {
    grid-area: rating;
}

#filter-menus .multi-option-header {
    font-weight: bold;
    background-color: #bfbeb4;

    position: sticky;
    top: 0;
    z-index: 10;
}
#filter-menus .multi-select {
    border: 1px solid black;
    background-color: #d5d3c6;
    flex: 1 1 auto;
    min-width: min-content; 
}
#filter-menus .multi-select .multi-option {
    background-color: #d5d3c6;
    white-space: pre-wrap;
}
#filter-menus .multi-select .multi-any {
    border-bottom: 1px solid black;
}

/*************************
**** RANDOM SELECTION ****
*************************/
#random-container {
    display: flex;
    justify-content: center;
    gap: 5px;
}
#random-container button {
    padding: 3px;
}
#random-container button:active {
    border-top: 2px solid #404040;
    border-left: 2px solid #404040;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

#random-container input {
    text-align: center;
    border: inset;
}

#random-selection {
    width: 200px;
}
#random-cuisine {
    width: 150px;
}

#random-container input:focus {
    outline-width: 0;
}

@media (max-width: 875px) {
    #random-container {
        flex-direction: column;
        gap: 0;
    }
}


/*************************
**** SHARE SELECTIONS ****
*************************/
#share-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 10px;
}
#share-button {
    padding: 3px;

    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #404040;
    border-bottom: 2px solid #404040;
}
#share-button:active {
    border-top: 2px solid #404040;
    border-left: 2px solid #404040;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

#share-subheader {
    margin-top: 5px;
    color: gray;
    font-size: 10pt;
}

/******************
**** LIST PANEL ***
******************/
#list-window {
    position: absolute;
    left: calc(64px*10.75);
    top: calc(20px*0.25);
    width: calc(64px*8);
    height: calc(20px*20);

    display: flex;
    flex-direction: column;
}

#restaurant-table-container {
    flex: 1;
    overflow-y: scroll; /* TODO: Replace with custom scrollbar*/
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

/* Table */
#restaurant-table {
    /* table-layout: fixed; */
    width: 100%;

    border-collapse: separate;
    border-spacing: 0;
}

/* Table header */
#restaurant-table-header {
    position: sticky;
    top: 0;
    background-color: #d5d3c6;
    border-bottom: 1px solid red;
    white-space: nowrap;
}
#restaurant-table-header button { /* TODO: replace with excel button*/
    font-size: 10pt;
    padding: 0;
}

/* Table body */
#restaurant-table td, table th {
    padding: 5px;
    height: 2.5rem;

    font-size: 12pt;
    font-weight: normal;

    border-bottom: 1px solid black;
}

#restaurant-table .visited {
    text-align: center;
}
#restaurant-table .shown {
    text-align: center;
}


/**********************
**** GIF CONTAINERS ***
**********************/
#hamburger-window {
    position: absolute;
    left: calc(64px*0.25);
    top: calc(20px*32.5);
    width: calc(64px*4.25);
    height: calc(20px*10);
}

#locket-window {
    position: absolute;
    left: calc(64px*10.875);
    top: calc(20px*41);
    width: calc(64px*4.25);
    height: calc(20px*10);
}

#locket-window {
    position: absolute;
    left: calc(64px*10.875);
    top: calc(20px*41);
    width: calc(64px*4.25);
    height: calc(20px*10);
}
#locket-window img {
    border: inset;
    width: 185px;
}

#sandwich-window {
    position: absolute;
    left: calc(64px*15.375);
    top: calc(20px*41);
    width: calc(64px*4.25);
    height: calc(20px*10);
}

#foodfun-window {
    position: absolute;
    left: calc(64px*0.375);
    top: calc(20px*43.125);
    width: calc(64px*10);
    height: calc(20px*10);
}
#foodfun-window img {
    width: 650px;
}

/**************************
**** PERSONAL FAVORITES ***
**************************/
#favorites-window {
    position: absolute;
    left: calc(64px*4.625);
    top: calc(20px*31.875);
    width: calc(64px*6);
    height: calc(22px*10);
}