@font-face {
    font-family: "Binomic Medium";
    src: url("fonts/binomic_medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Apply to everything */
* {
    box-sizing: border-box;
    font-family: "Binomic Medium", sans-serif;
    text-rendering: optimizelegibility
    /* outline: 1px solid pink */

}

/***************************
**** COLROS & CONSTANTS ****
***************************/
/* Rather than have different colored markers, just transform a single black marker into any color I want */
.visited-low {
    filter: invert(90%) sepia(66%) saturate(511%) hue-rotate(18deg) brightness(88%) contrast(76%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
}
.visited-medium {
    filter: invert(51%) sepia(56%) saturate(363%) hue-rotate(54deg) brightness(95%) contrast(86%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
}
.visited-high {
    filter: invert(26%) sepia(15%) saturate(2489%) hue-rotate(83deg) brightness(98%) contrast(88%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
}

.unvisited-low {
    filter: invert(71%) sepia(57%) saturate(490%) hue-rotate(180deg) brightness(102%) contrast(95%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
}
.unvisited-medium {
    filter: invert(46%) sepia(66%) saturate(2186%) hue-rotate(184deg) brightness(99%) contrast(92%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
        
}
.unvisited-high {
    filter: invert(31%) sepia(84%) saturate(1094%) hue-rotate(186deg) brightness(91%) contrast(98%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
}

.highlight {
    filter: invert(97%) sepia(14%) saturate(4954%) hue-rotate(341deg) brightness(109%) contrast(97%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
}

/* Misc classes for JS */
.error-red-text::placeholder {
    color: red;
}
.error-red-text {
    border-color: red;
}

.blob-cursor:hover {
    cursor: url('../images/spots_20.png'), pointer !important;
}

.inactive-button {
    background-color: gray;
}

.hidden {
    display: none !important;
}


/********************
**** BODY LAYOUT ****
********************/
html,
body {
    margin: 0;
    height: 100%;
    /* min-height: 100vh; */
    background-image: url("../images/space_background.png");
}

body {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-image: url("../images/hamburger_crop_down33_pad50.gif");
}

/***************
**** HEADER ****
***************/
header {
    color: white;
}


/*************
**** MAIN ****
*************/
main {
    display: flex;
    flex: 1;
    
    min-height: 0;
    width: 75%;
    
    margin-bottom: 80px;
    gap: 1rem;
    
    padding: 50px;
    border-radius: 20px;
    /* background-color: rgba(130, 44, 118, 0.842); */
    background-color: rgba(255, 165, 0, 0.95);
    box-shadow: rgb(23, 23, 23) 2px 2px 5px 0px;
}

/******************
**** MAP PANEL ****
******************/
#map-panel {
    flex: 0 0 60%;
    min-width: 0;
    min-height: 0;

    border: 2px solid black;

    border-radius: 20px;
}

#map {
    width: 100%;
    height: 100%;
    
    border-radius: 20px;
}

/*******************
**** LIST PANEL ****
*******************/
#list-panel {
    flex: 0 0 40%;
    min-width: 0;
    min-height: 0;

    background-color: rgba(22, 77, 176, 0.75);
    border: 1px solid black;

    display: flex;
    flex-direction: column;

    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
}

#filter-container {
    background-color: gray;
    margin-left: 6%;
    margin-right: 6%;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: rgb(23, 23, 23) 2px 2px 5px 0px;
}
#filter-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.25rem;
}
#filter-header button {
    padding-left: 3px;
    padding-right: 3px;
}


/***************************
**** DISTANCE FILTERING ****
***************************/
#distance-filter {
    margin-top: 0.5rem;
    box-shadow: rgb(23, 23, 23) 2px 2px 5px 0px;
    padding: 10px;

    display: grid;
    grid-template-areas: 
        "header header"
        "subheader subheader"
        "add input"
        "remove _";
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    row-gap: 3px;
}

#distance-header {
    grid-area: header;
    font-size: 12pt;
}
#distance-subheader {
    grid-area: subheader;
    font-size: 8pt;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
    margin-bottom: 3px;
    /* color: dimgray; */
}
#distance-filter-add-button {
    grid-area: add;
    width: 100%;
}
#distance-filter-input {
    grid-area: input;
    width: 100%;
    max-width: 200px;
}
#distance-filter-remove-button {
    grid-area: remove;
    width: 100%;
}


/****************************
**** ATTRIBUTE FILTERING ****
****************************/
#filter-menus-container {
    padding: 10px;
    margin-top: 1rem;

    box-shadow: rgb(23, 23, 23) 2px 2px 5px 0px;
}

#menu-header {
    font-size: 12pt;
}
#menu-subheader {
    font-size: 8pt;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
    margin-bottom: 3px;
    /* color: dimgray; */
}

#filter-menus {
    display: grid;
    grid-template-areas: "visited cuisine rating";
    grid-template-columns: auto auto auto;
    gap: 0.25rem;
    
    margin-top: 0.5rem;
    font-size: 10.5pt;
}

#visited-filter {
    grid-area: visited;
}
#cuisine-filter {
    grid-area: cuisine;
    max-height: 300px;
    overflow-y: scroll;
}
#rating-filter {
    grid-area: rating;
}

#filter-menus .multi-option-header {
    font-weight: bold;
    background-color: slategray;

    position: sticky;
    top: 0;
    z-index: 10;
}
#filter-menus .multi-select {
    border: 1px solid black;
    background-color:darkgray;
    flex: 1 1 auto;
    min-width: min-content; 
}
#filter-menus .multi-select .multi-option {
    background-color:darkgray;
    white-space: pre-wrap;
}
#filter-menus .multi-select .multi-any {
    border-bottom: 1px solid black;
}

/*************************
**** RANDOM SELECTION ****
*************************/
#random-container {
    padding-top: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
#random-container button {
    padding: 4px;
}
#random-container input {
    width: 100%;
    max-width: 200px;
    padding: 4px;
    text-align: center;
}

@media (max-width: 875px) {
    #random-container {
        flex-direction: column;
        gap: 0;
    }
}


/*************************
**** SHARE SELECTIONS ****
*************************/
#share-container {
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#share-container button {
    padding: 4px;
}


/************************
**** RESTAURANT LIST ****
************************/
#outer-table-container {
    flex: 1;
    overflow-y: scroll;
    position: relative;
    
    background-color: yellowgreen;
    border-radius: 20px;
}

/* Table header */
#sidebar-table-header {
    height: 1rem;

    position: sticky;
    top: 0;
    z-index: 10;
    background-color: limegreen;
    white-space: nowrap;

    padding: 0;
    margin: 0;
    border: 0;
}
#sidebar-table-header button {
    font-size: 10pt;
    padding: 0;
    margin: 0;
    border: 0;
}

/* Table body */
#sidebar-table td, table th {
  border-bottom: 1px solid black;
  font-size: 12pt;
  padding: 5px;
  height: 2.5rem;
}