/***************************
**** COLROS & CONSTANTS ****
***************************/
/* Rather than have different colored markers, just transform a single black marker into any color I want */
.visited-low {
    filter: invert(90%) sepia(66%) saturate(511%) hue-rotate(18deg) brightness(88%) contrast(76%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
}
.visited-medium {
    filter: invert(51%) sepia(56%) saturate(363%) hue-rotate(54deg) brightness(95%) contrast(86%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
}
.visited-high {
    filter: invert(26%) sepia(15%) saturate(2489%) hue-rotate(83deg) brightness(98%) contrast(88%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
}

.unvisited-low {
    filter: invert(71%) sepia(57%) saturate(490%) hue-rotate(180deg) brightness(102%) contrast(95%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
}
.unvisited-medium {
    filter: invert(46%) sepia(66%) saturate(2186%) hue-rotate(184deg) brightness(99%) contrast(92%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
        
}
.unvisited-high {
    filter: invert(31%) sepia(84%) saturate(1094%) hue-rotate(186deg) brightness(91%) contrast(98%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
}

.highlight {
    filter: invert(97%) sepia(14%) saturate(4954%) hue-rotate(341deg) brightness(109%) contrast(97%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
}

/* Misc classes for JS */
.error-red-text::placeholder {
    color: red;
}
.error-red-text {
    border-color: red;
}

.blob-cursor:hover {
    cursor: url('../images/spots_20.png'), pointer !important;
}

.inactive-button {
    background-color: gray;
}

.hidden {
    display: none !important;
}


/******************
**** MAP PANEL ****
******************/
#map-panel {
    position: absolute;
    left: calc(64px*0.5);
    top: calc(20px*0.5);
    width: calc(64px*8);
    height: calc(20px*32);
}

#map {
    margin: 15px;
    height: 75%;
}


/*********************
**** FILTER PANEL ****
*********************/
#filter-panel {
    position: absolute;
    left: calc(64px*3.5);
    top: calc(20px*33.5);
    width: calc(64px*8);
    height: calc(20px*32);
}

#filter-container {
    box-sizing: border-box;
}


/***************************
**** DISTANCE FILTERING ****
***************************/
#distance-filter {
    margin: 10px;
    padding: 10px;
    background-color: burlywood;
}


/****************************
**** ATTRIBUTE FILTERING ****
****************************/
#attributes-container {
    margin: 10px;
    padding: 10px;
    background-color: rosybrown;

}

#filter-menus {
    display: grid;
    grid-template-areas: "visited cuisine rating";
    grid-template-columns: auto auto auto;
    gap: 0.25rem;
    
    margin-top: 0.5rem;
    font-size: 10.5pt;
}

#visited-filter {
    grid-area: visited;
}
#cuisine-filter {
    grid-area: cuisine;
    max-height: 300px;
    overflow-y: scroll; /* TODO: replace with custom scrollbar */
}
#rating-filter {
    grid-area: rating;
}

#filter-menus .multi-option-header {
    font-weight: bold;
    background-color: slategray;

    position: sticky;
    top: 0;
    z-index: 10;
}
#filter-menus .multi-select {
    border: 1px solid black;
    background-color:darkgray;
    flex: 1 1 auto;
    min-width: min-content; 
}
#filter-menus .multi-select .multi-option {
    background-color:darkgray;
    white-space: pre-wrap;
}
#filter-menus .multi-select .multi-any {
    border-bottom: 1px solid black;
}

/*************************
**** RANDOM SELECTION ****
*************************/
#random-container {
    padding-top: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
#random-container button {
    padding: 4px;
}
#random-container input {
    width: 100%;
    max-width: 200px;
    padding: 4px;
    text-align: center;
}

@media (max-width: 875px) {
    #random-container {
        flex-direction: column;
        gap: 0;
    }
}


/*************************
**** SHARE SELECTIONS ****
*************************/
#share-container {
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#share-container button {
    padding: 4px;
}


/*****************************
**** RESTAURANT LIST PANEL ***
*****************************/
#list-panel {
    position: absolute;
    left: calc(64px*9);
    top: calc(20px*0.5);
    width: calc(64px*8);
    height: calc(20px*32);

    display: flex;
    flex-direction: column;
}

#restaurant-table-container {
    flex: 1;
    overflow-y: scroll; /* TODO: Replace with custom scrollbar*/
    position: relative;
}

/* Table */
#restaurant-table {
    /* table-layout: fixed; */
    width: 100%;

    border-collapse: separate;
    border-spacing: 0;
}

/* Table header */
#restaurant-table-header {
    position: sticky;
    top: 0;
    background-color: beige;
    border-bottom: 1px solid red;
    white-space: nowrap;
}
#restaurant-table-header button { /* TODO: replace with excel button*/
    font-size: 10pt;
    padding: 0;
}

/* Table body */
#restaurant-table td, table th {
    padding: 5px;
    height: 2.5rem;

    font-size: 12pt;
    font-weight: normal;

    border-bottom: 1px solid black;
}

#restaurant-table .visited {
    text-align: center;
}
#restaurant-table .shown {
    text-align: center;
}